# Development Environment - Variable Values
# Copy this file to terraform.tfvars and update with actual values

# SQL Server Connection Details
sqlserver_host          = "chn-demo.database.windows.net"
sqlserver_port          = "1433"
sqlserver_user          = "admin_chn"
sqlserver_password      = "Password123!"
sqlserver_database_name = "adventure-works-a"

# Catalog Configuration
catalog_owner = "justin.ward@databricks.com"
